{% extends "blog/base.html" %}
{% block content %}
<div id="main">
    <div class="dropdown" style="margin:35px">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter / Sort
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="descending">Date descending</a>
        <a class="dropdown-item" href="../archive">Date ascending</a>
        <a class="dropdown-item" href="Landmarks">Tag: Historical Landmarks</a>
        <a class="dropdown-item" href="Restaurants">Tag: Restaurants</a>
        <a class="dropdown-item" href="Sport">Tag: Sport</a>
        <a class="dropdown-item" href="Divers">Tag: Divers</a>
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
        <article>
          <h1 class="article-title" style="font-size:19px">{{ post.title }}</h1>
          <h2 class="article-title" style="bottom:84%">{{ post.author }} - {{ post.date_posted|date:"F d, Y" }}</h2>
          <div class="slider">
            <a href="{% url 'post-detail' post.id %}"><img src="{{ post.image.url }}" style="width:214px;height:295px"></a>
          </div>
          <p class="article-title" style="bottom:0%;padding:10px">{{ post.content|truncatewords:10 }}</p>
          <h6>{{ post.tag }}</h6>
        </article>
        {% endfor %}
    </div>
    <div style="margin:35px;margin-top:50px">
        {% if posts.has_previous %}
                <a class="btn-info btn-lg" href="?page=1"><<</a>
            {% endif %}

            {% for num in posts.paginator.page_range %}
                {% if posts.number == num %}
                    <a class="btn-primary btn-lg" href="?page={{num}}">{{num}}</a>
                {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                    <a class="btn-info btn-lg" href="?page={{num}}">{{num}}</a>
                {% endif %}
            {% endfor %}

            {% if posts.has_next %}
                <a class="btn-info btn-lg" href="?page={{ posts.paginator.num_pages }}">>></a>
        {% endif %}
    </div>
</div>
{% endblock content %}
