{% extends "blog/base.html" %}
{% block content %}
<div id="main">
    <div class="tag" style="text-align:center;color:white">
        <h1>Events</h1>
    </div>
    {% for event in events %}
        <div class="post-content">
            <strong><a style="margin-left:30px;font-size:21px" href="{% url 'event-detail' event.id %}">{{ event.title|title }} __ {{ event.location|title }}</a></strong>
            <p style="margin:0px">{{ event.description|truncatewords:10 }}</p>
            <div class="text-muted" style="margin-left:10px">{{ event.start_time|date:"F d, Y"  }} - {{ event.end_time|date:"F d, Y"  }}</div>
        </div>
    {% endfor %}
    <div style="margin:35px;margin-top:50px">
        {% if events.has_previous %}
            <a class="btn-info btn-lg" href="?page=1"><<</a>
        {% endif %}

        {% for num in events.paginator.page_range %}
            {% if events.number == num %}
                <a class="btn-primary btn-lg" href="?page={{num}}">{{num}}</a>
            {% elif num > events.number|add:'-3' and num < events.number|add:'3' %}
                <a class="btn-info btn-lg" href="?page={{num}}">{{num}}</a>
            {% endif %}
        {% endfor %}

        {% if events.has_next %}
            <a class="btn-info btn-lg" href="?page={{ events.paginator.num_pages }}">>></a>
        {% endif %}
</div>
</div>
{% endblock content %}