{% extends "blog/base.html" %}
{% block content %}
  <div id="main">
    <div class="media-body" style="padding:15px">
      <div class="post-content" style="padding:5px">
        <strong style="margin:10px">Event promoter --> <a class="mr-2" href="#">{{ object.author }}</a></strong>
      </div>
      <div class="post-content">
        <strong style="margin:10px;font-size:27px">{{ object.title|title }} ---> <span class="blinking">{{ object.location|title }}</span></strong><br>
        <small class="text-muted" style="margin-left:10px">{{ object.start_time|date:"F d, Y" }} - {{ object.end_time|date:"F d, Y" }}</small>
        <h6 style="margin-left:10px;padding-top:21px">Event description :</h6>
        <p class="article-content" style="margin:0px">{{ object.description }}</p>
      </div>
    </div>
    {% if object.author == user.username or user.profile.Class == 'Administrator' %}
          <div style="margin:31px">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' object.id %}">Delete</a>
          </div>
    {% endif %}
  </div>
{% endblock content %}
   <img src="{{ event.image.url }}" width="300" style="float:right">