{% extends "blog/base.html" %}
{% block content %}
        <div id="main">
          <div class="tag" style="margin-top:0px">
            <h4 style="text-align: center; color: white">Historical Landmarks</h4>
          </div>
          <div class="row">
              {% for post in Landmarks|slice:10 %}
                  <article>
                      <h1 class="article-title" style="font-size:19px">{{ post.title }}</h1>
                      <h2 class="article-title" style="bottom:84%">{{ post.author }} - {{ post.date_posted|date:"F d, Y" }}</h2>
                      <div class="slider">
                        <a href="{% url 'post-detail' post.id %}"><img src="{{ post.image.url }}" style="width:214px;height:295px"></a>
                      </div>
                      <p class="article-title" style="bottom:0%;padding:10px">{{ post.content|truncatewords:10 }}</p>
                      <h6>{{ post.tag }}</h6>
                  </article>
              {% endfor %}
          </div>
          <div class="tag">
            <h4 style="text-align: center; color: white">Restaurants</h4>
          </div>
          <div class="row">
            {% for post in Restaurants|slice:10 %}
                <article>
                  <h1 class="article-title" style="font-size:19px">{{ post.title }}</h1>
                  <h3 class="article-title" style="bottom:84%">{{ post.author }} - {{ post.date_posted|date:"F d, Y" }}</h3>
                  <div class="slider">
                    <a href="{% url 'post-detail' post.id %}"><img src="{{ post.image.url }}" style="width:214px;height:295px"></a>
                  </div>
                  <p class="article-title" style="bottom:0%;padding:10px">{{ post.content|truncatewords:10 }}</p>
                </article>
            {% endfor %}
          </div>
          <div class="tag"><h4 style="text-align: center; color: white">Sport</h4></div>
          <div class="row">
            {% for post in Sports|slice:10 %}
              <article>
                  <h1 class="article-title" style="font-size:19px">{{ post.title }}</h1>
                  <h2 class="article-title" style="bottom:84%">{{ post.author }} - {{ post.date_posted|date:"F d, Y" }}</h2>
                  <div class="slider">
                    <a href="{% url 'post-detail' post.id %}"><img src="{{ post.image.url }}" style="width:214px;height:295px"></a>
                  </div>
                  <p class="article-title" style="bottom:0%;padding:10px">{{ post.content|truncatewords:10 }}</p>
              </article>
            {% endfor %}
          </div>
          <div class="tag"><h4 style="text-align: center; color: white">Divers</h4></div>
          <div class="row">
            {% for post in Divers|slice:10 %}
              <article>
                  <h1 class="article-title" style="font-size:19px">{{ post.title }}</h1>
                  <h2 class="article-title" style="bottom:84%">{{ post.author }} - {{ post.date_posted|date:"F d, Y" }}</h2>
                  <div class="slider">
                    <a href="{% url 'post-detail' post.id %}"><img src="{{ post.image.url }}" style="width:214px;height:295px"></a>
                  </div>
                  <p class="article-title" style="bottom:0%;padding:10px">{{ post.content|truncatewords:10 }}</p>
              </article>
            {% endfor %}
          </div>
      </div>
{% endblock content %}