{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="main">
    <div class="content-section" style="padding:30px">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group" style="margin-top:30px">
                <button class="btn btn-info btn-lg" type="submit">Generate Post</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}